{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container typo-light">
    <div class="col col-xs-12 col-sm-4">
        <form method="post" class="accountform">
            <fieldset class="form-group">
                <h2 class="page-title">Password reset</h2>
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <p><label for="id_email" class="control-label required-field">E-mail address</label>
                    <div class="reset-password">
                        {{ form.email }}
                    </div>
                    <input class="btn-4" type="submit" value="Reset password" />
                </p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}