{% extends "base.html" %}
{% block title %} Setting New password {% endblock %}
<!-- Password reset form. User is required to fill in his/her new password twice -->
{% block content %}
<div class="container typo-light">
    <div class="row">
        <h2 class="page-title">Password reset</h2>
        {% if validlink %}
        <p>Please enter your new password twice.<br/> So we can verify you typed it in correctly.</p>
        <form action="" method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="text-center">
                            <button type="submit" class="btn-4">Change my password</button>
                        </div>
                    </td>
                    <!-- <td><input type="submit" class="btn-4" value="Change my password" /></td> -->
                </tr>
            </table>
        </form>
    {% else %}
        <h3 style="color: red;">Password reset unsuccessful</h3>
        <p>The password reset link was invalid, <br/>
        possibly because it has already been used. <br/>
        Please request a new password reset.</p>
    {% endif %}
    </div>
    <div class="row">
        <div class="text-center">
			<div>
				<img class="img-cart" src="{% static "images/ZebraSticker.png" %}" alt="logo">
            </div>
		</div>
    </div>
</div>
{% endblock %}