{% extends "base.html" %}

{% block title %} Password reset successful {% endblock %}
<!-- Password reset. Confirmation of sending a reset password email. -->
{% block content %}
<div class="container typo-light">
	<div class="row">
		<div class="col col-xs-12 col-sm-4">
            <h2 class="page-title">Password reset</h2>
			<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
			<p>You should be receiving it shortly.</p>
		</div>
	</div>
    <div class="row">
        <div class="text-center">
			<div>
				<img class="img-cart" src="{% static "images/ZebraSticker.png" %}" alt="logo">
            </div>
		</div>
    </div>
</div>
{% endblock %}