{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row typo-light">
		<div class="col-xs-12 col-md-6 text-center">
			<div>
				<img class="img-home" alt="logo">
            </div>
		</div>
			<div class="intro col-xs-12 col-md-6">
				<div>
					<img class="logo-home" src="/static/images/pj-stickers-pink.png" alt="logo">
                </div>
				<h1 class="page-title">Custom stickers, unique, fun and eco!</h1>
				<h3>Pixel perfect projects, tailored to your needs and for the best price</h3><br>
				<a href="{% url 'shop' %}" class="btn-4"> SHOP NOW </a> 
			</div>
		</div>
	</div>
<!---------------ABOUT------------------->
	<div class="info-page">
		<div class="container">
			<div class="row typo-purple">
				<div class="info col-xs-12 col-md-4">
					<div>
						<i class="fas fa-shipping-fast fa-4x"></i>
						<h3 class="typo-purple">Fast and safe </h3>
						<p>Parcel tracking and express delivery available. And also, free shpping in Amsterdam area.</p>
						</div>
					</div>
					<div class="info col-xs-12 col-md-4">
						<div>
							<i class="fas fa-user-edit fa-4x"></i>
							<h3 class="typo-purple">Personalised </h3>
							<p>Share your idea and we will get your design ready or send us your own project!
							</p>
						</div>
					</div>
					<div class="info col-xs-12 col-md-4">
						<div>
							<i class="fas fa-leaf fa-4x"></i>
							<h3 class="typo-purple">Environmentally friendly</h3>
							<p> Our stickers are made out of 85% post consumer materials, organic glue and natural
								pigmant.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!----------------------QUOTES------------------->
        
		<div class="background-gradient quotes-section">
			<div class="container">
				<div class="row typo-light">
                    <div class="col-xs-12 col-md-2"></div>
					<div class="col-xs-12 col-md-2 img-align">
						<img class="quote-img" src="/static/images/asia_t.jpg" alt="asia img">
					</div>
					<div class="col-xs-12 col-md-6 quotes">
                        <h3>Asia Trzeciak</h3>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><br>
						<em>"I am really happy with PJ Stickers' service and reliability. I used they stickers for my personal art project and it has been money well spent."</em>
					</div>
				</div>
                <div class="row typo-light">
                    <div class="col-xs-12 col-md-2"></div>
					<div class="col-xs-12 col-md-2 img-align">
						<img class="quote-img" src="/static/images/ammar_c.jpg" alt="ammar img">
					</div>
					<div class="col-xs-12 col-md-6 quotes">
                        <h3>Ammar Ceker</h3>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><br>
						<em>"I really like the the fact that these stickers are eco-friendly. Not a lot of similar products can say that. I am happy to have this option for my striker collection."</em>
					</div>
				</div>
                <div class="row typo-light">
                    <div class="col-xs-12 col-md-2"></div>
					<div class="col-xs-12 col-md-2 img-align">
						<img class="quote-img" src="/static/images/michael_o.jpg" alt="michael img">
					</div>
					<div class="col-xs-12 col-md-6 quotes">
                        <h3>Micheal Omescu</h3>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><br>
						<em>"I ordered a lot of personalised stickers fro a campaign I am doing with my job and I have to say I was very happy with how the stickers turned out. My colleagues love them and the stickers are now part of our company fun and playful culture. Will sure order more for future campaigns."</em>
					</div>
				</div>
                
			</div>
</div>


<!------------bla bla bal-->



<!-- <div class="container">
    <div class="display">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="q">
            <button class="btn-2" type="submit">Search</button>
        </form>
    </div>

    <div class="row row-flex">
        {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->


	{% endblock %}