/*----------------- body ------------------*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-bottom: 10px;
}


.background-gradient {
  background:
    -webkit-linear-gradient(315deg, hsla(314.4, 100%, 31.4%, 1) 0%, hsla(314.4, 100%, 31.4%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(284.91, 89.99%, 50%, 1) 10%, hsla(284.91, 89.99%, 50%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(225, 56.15%, 27.82%, 1) 15%, hsla(225, 56.15%, 27.82%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(289.36, 100%, 12.45%, 1) 100%, hsla(289.36, 100%, 12.45%, 0) 70%);
  background:
    linear-gradient(135deg, hsla(314.4, 100%, 31.4%, 1) 0%, hsla(314.4, 100%, 31.4%, 0) 70%),
    linear-gradient(25deg, hsla(284.91, 89.99%, 50%, 1) 10%, hsla(284.91, 89.99%, 50%, 0) 80%),
    linear-gradient(315deg, hsla(225, 56.15%, 27.82%, 1) 15%, hsla(225, 56.15%, 27.82%, 0) 80%),
    linear-gradient(245deg, hsla(289.36, 100%, 12.45%, 1) 100%, hsla(289.36, 100%, 12.45%, 0) 70%);
  }

  /*----------------- navbar ------------------*/
  .navbar-style {
      background: rgba(0,0,0,0.4);
  }

  .fa-bars {
      color: white;
  }

  .logo {
    background: url("/static/images/pj-stickers-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 40px;
    width: 108px;
    margin: 15px;
    transition: 0.3s;
}

.logo:hover {
    background: url("/static/images/pj-stickers-purple.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 40px;
    width: 108px;
    margin: 15px;
}

/*------------------- buttons  ------------------*/

.btn-1 {
    width: 90px;
    font-size: small;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
    margin: 10px;
    transition: 0.3s;
}
.btn-1:hover {
  color: rgb(175, 0, 175);
}

.btn-2 {
    height: 27px;
    width: 90px;
    font-size: small;
    text-align: center;
    border-radius: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 25px 0px;
    transition: 0.3s;
}
.btn-2:hover {
  color: rgb(175, 0, 175);
  border: 1px solid rgb(175, 0, 175);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn-3 {
    font-size: medium;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 10px;
    transition: 0.3s;
}
.btn-3:hover {
  color: rgb(175, 0, 175);
}

.btn-4 {
    text-decoration: none;
    font-size: medium;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 166, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s;
}
.btn-4:hover {
    background-color: rgb(211, 137, 0);
    text-decoration: none;
}

.btn-5 {
    height: 40px;
    width: 90px;
    font-size: small;
    text-align: center;
    border-radius: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 25px 0px;
    transition: 0.3s;
}
.btn-5:hover {
  color: rgb(175, 0, 175);
  border: 1px solid rgb(175, 0, 175);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn-6 {
    background-color: rgb(175, 0, 175);
}
.btn-6:hover {
  color: rgb(175, 0, 175);
  border: 1px solid rgb(175, 0, 175);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}


/*------------------- ABOUT ------------------*/

.page-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 70px;
}

.logo-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 350px;
    margin: 30px 0px 10px 0px;
}

.intro {
    margin-bottom: 25px;
}

.img-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 400px;
    width: 350px;
    margin: 30px 0px 50px 80px;
}

.info-page {
    background-color: #fff;
    width: 100%;
    padding: 120px 20px;
    text-align: center;
}

.info {
    margin: 10px 0px;
}
.typo-purple {
    color: rgb(50, 0, 71);
}

.quote-img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.img-align {
    text-align: right;
    margin: 20px 0px 60px 0px;
}
.quotes-section {
    padding: 50px;
}

.quotes {
    text-align: left;
}
/*-------------media ---------------*/

@media(max-width: 991px) {
    .quotes {
    text-align: center;
    }
    .img-align {
    text-align: center;
    margin: 20px 0px 0px 0px;
    }
    .img-home {
    align-content: center;
    height: 125px;
    width: 110px;
    margin: 30px 0px;
    }
    .logo-home {
    display: none;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 200px;
    margin: 30px 0px 10px 0px; */
    }
    .container {
    margin-bottom: 10px;
    height: 100%;
    }
    h2.page-title {
    font-size: large;
    font-weight: 700;
    margin-right: 70px;
    }
    h3 {
    font-size: medium;
    font-weight: 700;
    margin-right: 70px;
    }
    .btn-1 {
    width: 90px;
    font-size: small;
    text-align: left;
    border-radius: none;
    border: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
    }
    .btn-1:hover {
    color: rgb(175, 0, 175);
    }
}

/*----------------- login ------------------*/

.links {
    color: #ffffff;
}
.links:hover {
    color: rgb(175, 0, 175);
    text-decoration: none;
}

/*----------------- request_page ------------------*/
.explanation {
    font-style: italic;
    font-size: x-small;
    margin-bottom: 45px;
}
/*----------------- profile  ------------------*/

.rating {
    font-size: x-large;
}
/* -------------------- cart-----------------*/

.img-cart {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 200px;
    width: 180px;
    margin: 80px 0px;
}

.input-group-addon {
    background-color: rgb(175, 0, 175);
}

.purple-frame {
    border: solid 1px rgb(175, 0, 175);
    border-radius: 5px;
    padding: 10px;
    display: inline;
    margin: 10px 15px;
}

/*----------------- layout ---------*/

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 100px;
    position: relative;
    margin: 0;
    min-height: 100%;  
}

/* html should be comented out */

/* html {
  height: 100%;
} */

/*------------------ shop ------------------*/

.search-input {
    border-radius: 5px;
}

.product-name {
    color: rgb(175, 0, 175);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 5px auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
    margin: 5px 10px;
}

.panel-body {
    height: 100%;
}

.product-description {
    min-height: 40px;
    color: rgb(58, 58, 58);
}
.product-price {
    color: rgb(58, 58, 58);
    font-size: large;
}
/*----------------- footer------------------*/

.logo2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 25px;
    height: 80px;
    width: 216px;
}

footer .main-footer {
    padding: 20px 0;
    background: #25002e;
}
footer ul{
    padding-left: 0;	
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {	
    background: rgb(41, 0, 37);
    padding: 5px 0;
}

.footer-copyright p {	
    color: #969696;
    font-size: x-small;
    margin: 2px 0 0;
}


/*------ Widgets -------*/
.widget {	
    padding: 20px;
    margin-bottom: 10px;
}
.widget.widget-last {
    margin-bottom: 0px;
}

.widget li a {
    color: #ffffff;
}
.widget li a:hover {
    color: rgb(175, 0, 175);
    text-decoration: none;
}
.widget-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* .widget-title.text-center,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;} */
.typo-light,
.typo-light h2, 
.typo-light h1, 
.typo-light h3, 
.typo-light h5, 
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light a,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}



/*------------------defauls ------------------*/

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: rgb(255, 166, 0);
}

.label-warning[href],
.badge-warning[href] {
    background-color: rgb(255, 166, 0)
}

input#id_email {
    color: #000;
    border-radius: 5px;
    margin-bottom: 5px;
}

