{% extends "base.html" %} {% load static from staticfiles %}
{% load bootstrap_tags %}
<!-- additional script with the Stripe functionality added here-->
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
//<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js  %}

<!-- All the items in the cart will be again displayed here. Each card will resamble the card from the shop page. -->
{% block content %}
<div class="container">
    <h2 class="page-title typo-light"> CHECKOUT </h2>
    <div class="row row-flex">
    
    {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
                </div>
                <div class="caption">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p>{{ item.quantity }}</p>
                    <p class="product-price">{{ product.price }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- the total value of the items will be displayed here. For better user experiance the value has to be next to the payment details and payment confirmation button-->
    <div class="row" style="margin: 25px 0px;">
        <h3 class="page-title typo-light purple-frame" style="margin: 25px 0px;">Total: {{ total }} <i class="fas fa-euro-sign"> </i></h3>
    </div>
    <form  class="typo-light" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend class="page-title typo-light">Payment Details</legend>
        <div id="credit-card-errors" style="display: none;">
            <div class="alert alert-danger" style="color: red;" id="stripe-error-message"></div>
        </div>
        <!-- generated order form with order details -->
        <div class="form-group col-md-6">
            {{ order_form | as_bootstrap }}
        </div>
        <!-- generated payment form with payment details -->
        <div class="form-group col-md-6">
            {{ payment_form | as_bootstrap }}
        </div>
        {% csrf_token %}
        
        <div class="form-group col-md-12">
            <input class=" btn-4 " id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
{% endblock %}