{% extends "base.html" %} {% load bootstrap_tags %}
{% block content %}
<!--registration page allows new user to create a profile. When new user is registered a promotianal code for the first purchase will be displaied. Only registered users can make a purchase. Check out button on the cart page will redirect to login page if no user is logged in. -->
<div class="container typo-light">
    <div class="row">
        <div class="col col-xs-12 col-sm-6">
            <form method="post" action="{% url 'register' %}" class="accountform">
                <fieldset class="form-group">
                    <h2 class="page-title">Create a new account</h2>
                    <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                    {% csrf_token %}
                    {{  user_form | as_bootstrap }}
                    <div class="text-center">
                        <button type="submit" class="btn-4">Create account</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}