{% extends 'base.html' %} {% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <h2 class="page-title typo-light"> Thank you for shopping</h2>
    <h3 class="typo-light"> Your set of awesome stickers is one click away!</h3>
    <h4 class="typo-light"> If you would like to change your order, edit the quantity and click "Amend"</h4>
    <div class="row row-flex">
        {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default panel-display">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
                </div>
                <div class="caption">
                    <h3 class="product-name"> {{ item.product.name }}</h3>
                    <p class="product-description"> {{ item.product.description }}</p>
                    <p class="product-price"> {{ item.product.price }} <i class="fas fa-euro-sign"></i></p>
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group input-style">
                                <div class="input-group-addon typo-light">Qty (max 500)</div>
                                    <input name="quantity" type="number" min="0" max="500" class="form-control">
                                <div class="input-group-addon typo-light">{{item.quantity}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-7" aria-hidden="true"><i class="fas fa-edit"></i> Amend</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p class="purple-frame typo-light">Total: {{ total }}  <i class="fas fa-euro-sign"></i></p>
        {% if product_count > 0 %}
			<a href="{% url 'checkout' %}" class="btn btn-4 typo-light" role="button">
                <i class="fas fa-shopping-basket"></i> Checkout
            </a>
			{% else %}			
            <a href="#" class="btn btn-4 typo-light" role="button">
            <i class="fas fa-shopping-basket"></i>Cart empty</a>
        {% endif %}
    </div>
    <div class="row">
        <div class="text-center">
			<div>
				<img class="img-cart" src="{% static "images/ZebraSticker.png" %}" alt="logo">
            </div>
		</div>
    </div>
</div>
{% endblock %}