{% extends 'base.html' %} {% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<!-- cart page display all the items added to the cart. It also allows to modify the amount of ordered items. Cart has NO option of adding new items not listed in the cart already. At the bottom of the page there is section displaying the full value of the items in the cart -->
<div class="container typo-light">
	<div class="row">
		<div class="col col-xs-12 col-sm-10">
            <div class="cart-info">
                {% if user.is_authenticated %}
                <h2 class="page-title"> Thank you for shopping {{ user }}</h2>
                {% else %}
                <h2 class="page-title"> You have to be logged in to continue</h2>
                {% endif %}
                {% if product_count > 0 %}
                <h3> Your set of awesome stickers is one click away!</h3>
                {% endif %}
            </div>    

			{% for item in cart_items %}
			<hr class="hr-cart">
			<div class="row typo-light panel-body-cart justify-content-between">
				<div class="col-sx-10 col-md-5 ">
					<span class="item-name-cart"> {{item.quantity}} x </span>
					<span class="item-name-cart">{{ item.product.name }} </span>
					<span>{{ item.product.price }} <i class="fas fa-euro-sign"></i></span>
				</div>
				<div class="col-sx-10">
					<form class="form-inline form-width" method="post" action="{% url 'adjust_cart' item.id %}">
						{% csrf_token %}
						<span class="input-group input-style">
                        <span class="input-group-addon typo-light">change quantity</span>
						<input name="quantity" type="number" value="0"  min="0" max="999" class="form-control">
                    </span>
						<button type="submit"  class="btn btn-5-cart" aria-hidden="true"> SAVE</button>
					</form>
				</div>
			</div>
			{% endfor %}

			<!-- if there is no product in the cart "check out" button will be unavailable. Else, "check out" button will lead to purchase page-->
			<hr class="hr-cart-total">
			<div class="row">
				<!-- this window displays the total value of the items in the cart. It will be updated each time the user amend the quantity -->
				<p class="total-value">Total: {{ total }} <i class="fas fa-euro-sign"></i></p>
				{% if product_count > 0 %}
                <div class="text-center">
                    <a href="{% url 'checkout' %}" class="btn btn-4 typo-light" role="button">
                        <i class="fas fa-shopping-basket"></i> Checkout
                    </a>
                </div>
				{% else %}
                <div class="text-center">
                <p>Cart is empty</p>
				<a href="{% url 'shop' %}" class="btn btn-4 typo-light" role="button">
					<i class="fas fa-shopping-basket"></i> SHOP NOW
                    </a>
                </div>
				{% endif %}
			</div>
			<!-- image of the iconic sticer of the company -->
			<div class="row">
				<div class="text-center">
					<div>
						<img class="img-cart" src="{% static "images/ZebraSticker.png" %}" alt="logo">
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}